#footer {
  min-height: 502px;
  padding: 4rem 2rem 1rem;
}

#footer-nav {
  min-height: 20px;
  background-color: var(--background-color-primary);
}

.footer-wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  grid-column: span 2 / span 2;
}

.footer-info {}

.footer-info__input {
  display: flex;
  justify-content: space-between;
  padding: 0 4px 16px 4px;
  border-bottom: 1px solid rgba(77, 105, 175, 1)
}